
analyze/000000_original_code/

*.mat

*.asv

*.fig

analyze/220705_df4linmodel/sleepInertia_analyses_shareddoc.pdf

*.docx

*.svg

*.ai

*.pptx

analyze/BCT/

analyze/boundedline_pkg/

analyze/breakyaxis/

analyze/data/BCT/

analyze/eeglab2022.0/

analyze/latext2md/

analyze/sigstar/

analyze/xxxxxx_building_smallworldness/

papers/

data/

*.ait

*.gdoc

*.gslides

2021-10-06 SIS EEG Cover Letter (eLife).docx.pdf
